@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  background: black;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: black;
}
@keyframes x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img {
  width: 80%;
  max-width: 100px;
}
.Home {
  margin-top: 10%;
}
#icons {
  margin-left: 5px;
  margin-right: 5px;
}
.icon-wrapper {
  margin: 2px;
}
.About {
  text-align: left;
  max-width: 80%;
  animation-name: x;
  margin-left: 10%;
  margin-top: 2%;
  animation-duration: 2s;
}
.About-wrapper {
  text-align: center;
  align-items: center;
}

span {
  color: yellow;
}
#me {
  border-radius: 500px 500px 500px 500px;
  border: 3px solid;
  height: 100px;
  width: 100px;
}
a {
  text-decoration: none;
}
.Header {
  height: 40px;
  text-align: right;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
}
strong {
  margin-left: 5px;
  font-size: 30px;
  color: yellow;
}
nav:visited {
  background-color: green;
}
@media screen and (max-width: 768px) {
  strong {
    margin-left: 5px;
    font-size: 20px;
    color: yellow;
  }
}
